.header {
    display: flex;
    margin: 20px;
}
.navbar {
    background-color: antiquewhite;
    display:flex;
    
   
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
  }

.imglogo {
    display: flex;
}

.link {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}